h1 {color:blue;}
h1 {color:#F0A050;}
th,td { border: dotted thick purple; }
th.important { color: red; }
p.sample1 {border: double 10px #0000ff;margin-right:700px;}
p.sample2 {margin: 30px 30px;border: inset 10px #ff00ff;margin-right:700px;}
p.sample4 {margin: 30px 30px;padding: 10px;border:medium solid #ff0000;}

/*<!--h5 {color: blue;}
h6 {color: blue ;font-size:30px;}*/

